html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: antiquewhite;
}


.typewriter {
    width: fit-content; 
    overflow: hidden; 
    border-right: 2px solid black;
    white-space: nowrap; 
    margin: 0 auto; 
}

#typewriter-text {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    animation: typing 4.5s steps(30, end), blink-caret 0.75s step-end infinite;
    animation-iteration-count: infinite;
}


@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}


@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}