@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="typewriter"><h1 id="typewriter-text" class="display-1"><strong>¡Vende Online en Vend!</strong></h1></div>
    <hr />
    
    <p>Descubre miles de productos nuevos y acondicionados con precio justo y envío rápido.</p>
    <img style="border-radius: 30px" class="img-fluid" src="https://i.pinimg.com/736x/70/1d/dc/701ddcda04e1cad5196715c14f5c4ee4.jpg" />
</div>
