@model EcommerceProyecto.Models.Orden

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Orden</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConsumidorId" class="control-label"></label>
                <input asp-for="ConsumidorId" class="form-control" />
                <span asp-validation-for="ConsumidorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendedorId" class="control-label"></label>
                <input asp-for="VendedorId" class="form-control" />
                <span asp-validation-for="VendedorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductoId" class="control-label"></label>
                <input asp-for="ProductoId" class="form-control" />
                <span asp-validation-for="ProductoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPedido" class="control-label"></label>
                <input asp-for="FechaPedido" class="form-control" />
                <span asp-validation-for="FechaPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadPedido" class="control-label"></label>
                <input asp-for="CantidadPedido" class="form-control" />
                <span asp-validation-for="CantidadPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
